<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="js/app.min.js"></script>

    <title>{{pageId}}: {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <header>{% include "./parts/header/_header.html" %}</header>
        {% block pageContent %}
        {% endblock %}
        <footer>{% include "./parts/footer/_footer.html" %}</footer>
    </div>
</body>
</html>